<%- include parcial/headder.ejs -%>

<h1>
    avilable
</h1>

<table class="table">


    <thead>
      <tr>
        <th scope="col">Movie Name</th>
        <th scope="col">Director</th>
        <th scope="col">Actor</th>
        <th scope="col">Actress</th>
    
      </tr>
    </thead>
    
   
      <tr>
       
        <td><%= movie %></td>
        <td><%= director %></td>
        <td><%= actor %></td>
        <td><%= actress %></td>
      
         
        </tr>
 

  </table> 




<%- include parcial/footer.ejs -%>